@import '../../sass/variables.scss';

.footer{
    background-color: $utility-color;
    min-height: 140px;
    display: flex;
    align-items: center;
    .container{
        padding: 10px;
    }
    &__wrap{

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        font-size: 13px;
        font-weight: 400;
    }
}