@import '../../sass/variables.scss';
.form{
    margin: 0 auto;
    max-width: calc(100% - 300px);
    display: flex;
    margin-top: 80px;
    &__block{

        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        background-color: $substrate-color;
        opacity: 1;
        font-weight: 700;
        color:black;
        width: 100%;
    }

    &__line{
        width: 6px;
        margin-left: 18px;
        background-color: $substrate-color;
    }

    &__title{
        color: black;
        font-size: 35px;
    }
    &__wrap{
        margin-top: 8px;
    }   
    &__label{
        font-size: 14px;
        color: black;
        font-weight: 400;
        line-height: 2;
        p{
            font-size: 12px;
        }
    }
    &__checkbox{
        margin-top: 10px;
        display: flex;
        p{
            font-size: 13px;
            font-weight: 400;
            color: black;
            margin-left: 10px;
        }
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .form{
        max-width: 90%;
        margin-top: 60px;
        &__block{
            padding: 20px;
        }
        &__title{
            font-size: 25px;
        }
        &__wrap{
            margin-top: 8px;
        }   
        &__label{
            font-size: 12px;
            line-height: 1;
            p{
                font-size: 10px;
            }
        }
    }
}
@media (max-width: 575px) {}