@import '../../sass/variables.scss';
.promo{
    background: url(../../assets/banner_1.png) center center/cover no-repeat;
    height: 100vh;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 40px;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    &__date{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $substrate-color;
        color: $main-color;
        padding: 10px;
        font-size: 42px;
        text-align: center;
        font-weight: 700;
        width: max-content;
    }
    &__text{
        height: 100%;
        padding: 0 40px;
        color: $substrate-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__title{
        font-size: 39px;
        font-weight: 700;
        display: block;
    }
    &__sub{
        font-size: 25px;
        display: block;
    }
    &__line{
        height: 100%;
        width: 4px;
        background-color: $substrate-color;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .promo{
        .container{
            padding: 90px;
        }
        &__content{
            height: auto;
            display: flex;
            flex-direction: column;
        }
        &__date{
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $substrate-color;
            color: $main-color;
            padding: 10px 30px;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
        }
        &__text{
            padding: 20px;
            margin-top: 30px;
            text-align: center;
        }
        &__title{
            font-size: 30px;
        }
        &__sub{
            margin-top: 20px;
            font-size: 15px;
        }
        &__line{
            display: none;
        }
    }
    

}
@media (max-width: 767px) {

}
@media (max-width: 575px) {}