@import '../../sass/variables.scss';
.header{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba($color: #22062d, $alpha: 0.7);
    backdrop-filter: blur(8px);
    z-index: 1;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        li{
            margin-left: 30px;
            padding: 5px;
            transition: all 0.2s;
            list-style: none;
            border-bottom: 2px solid #ffffff00;
            cursor: pointer;
            font-size: 17px;
            &:hover{
                border-bottom:2px solid #fff;
            }
        }
    }
    &__logo{
        background-color:white;
        height: 100%; 
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
 
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .header{
        &__nav{
            display: none;
        }
    }
}

@media (max-width: 575px) {

}