@import '../../sass/variables.scss';

.sponsor__wrap{
        display: flex;
        flex-direction: column;
        align-items: end;

        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
        transform: skewY(7deg);

        width: max-content;
        margin-bottom: 150px;
}

.location{
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);

    background-color: $fond-color;
    // clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
    // transform: translateY(-61%);
    padding: 120px 10px;
    height: auto;
    margin-top: -110px;
    .container{
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        padding: 10px;

    }
    .start{
        justify-content: start;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: start;

        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
        transform: skewY(7deg);

        width: max-content;
        margin-top: 50px;
    }
    &__img{
        height: 370px;
        position: absolute;
        bottom: -121px;
        right: 0;
        opacity: 0.5;
    }
    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 34px;
    }
    &__text{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 27px;
        margin-top: 28px;
    }
    &__desc{
        font-size: 20px;
        margin-top: 18px;
    }
    &__line{
        height: 3px;
        margin-top: 10px;
        width: 100%;
        background-color: $substrate-color;
    }
}
@media (max-width: 1200px) {
 
}
@media (max-width: 991px) {
    .sponsor__wrap{
        align-items: center;
}
.location{
    height: auto;
    margin-top: -110px;
    padding: 70px 10px;
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;

    }

    &__title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 34px;
    }
    &__text{
        text-align: center;
        font-size: 27px;
        margin-top: 28px;
    }
    &__desc{
        font-size: 20px;
        margin-top: 18px;
    }
    &__line{
        height: 3px;
        width: 50%;
    }
    &__img{
        bottom: -70px;
    }
}

}
@media (max-width: 767px) {
.location{
    &__img{
        width: 100%;
        height: auto;
        position: absolute;
        bottom: -69px;
        right: 0;
    }
}
}
@media (max-width: 575px) {
    .sponsor__wrap{
        margin-bottom: 50px;
        .location__desc{
            text-align: center;
        }
}
start{
    display: flex;
    justify-content: center;

}
    .location{
        align-items: center;
        justify-content: center;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 10px;
            align-items: center;
            justify-content: center;
    
        }
        &__wrap{
            align-items: center;
            justify-content: center;
        }
        &__title{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            text-align: center;

        }
        &__text{
            font-size: 23px;
            text-align: center;
        }
        &__desc{
            font-size: 14px;
            margin-top: 18px;
            text-align: center;

        }
        &__img{
            display: none;
        }

    }
}